html,body{
    background-image: url('http://127.0.0.1:5000/static/background_screen.jpg/') !important; /* Using local path for testing and development */
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
    color: white;
}

.container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card{
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;
    width: 378px;
    background-color: rgba(0,0,0,0.5)
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

.form-control{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    height: 30px;
}

.form-check-input{
    width: 20px;
    height: 20px;
}

.form-check-label{
    margin-left: 5px;
    margin-top: 3px;
}

.btn{
    color: black;
    background-color: #FFC312;
    width: 120px;
    font-size: 16px;
}

/* For loading gif */
.no-js #loader { display: none;  }

.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif) center no-repeat #fff;
}