/* My template */
html,body{
    background-image: url('https://ccc-auction.herokuapp.com/static/child.jpg/') !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
}

div.form{
    display: block;
    text-align: center;
    top: 50%;
    /* padding: 100px 0; */
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 3px solid green;
    padding: 30px;
}