@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* My template */
* {
    box-sizing: border-box;
}

html,body{
    background-image: linear-gradient(to right, #fff1eb 0%, #ace0f9 100%); /* from https://webgradients.com/ */
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.items-page-title h1{
    padding: 10px;
}

img{
    width: 300px;    
    height: 200px;
    transform: scale(1);
    transition: .3s ease-in-out;
    background-size: cover;
    border-radius: 10px;
}

/* To contain item images */
figure{
	width: 300px;
    height: 200px;
    border-radius: 10px;
	overflow: hidden;
}

/* Display item description on hover */
.description-hidden{
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #eee;
}

.item-holder:hover{
    background: #999999;
}

.item-holder:hover .description-hidden{
    display: block;
}

/* For Header */
header{
    display: flex;
    /* justify-content: space-between; */
    padding: 20px;
    padding-top: 30px;
    padding-left: 0px;
    align-items: center;
    margin: 0;
    background-color: #24252A;
}

li, a, button{
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links{
    list-style: none;
}

.nav_links li a:hover{
    color: #0088a9;
}
/* Header End */


/* Create three columns that float next to each other */
.column{
    float: left;
    padding: 30px;
    height: 100%;
    width: 33.33%;
    min-width: 300px;
}

/* Clear floats after the columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}