<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="uft-8">
        <title>Items</title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <h1> Here is what's for sale </h1>

        <div class="row">
            <div class="column left">
                {% for item,biddername,form in z1 %}
                    <h3>{{ item.itemname }}</h3>
                    <p>{{ item.description }}</p>
                    <img src={{ url_for('static', filename=item.image_file) }} class="w3-round" height="200" width="300">
                    <p>Value - {{ item.list_value }}</p>
                    <b>Current Bid: ${{ item.current_bid }}</b>
                    <p>Next Bid: ${{ item.current_bid + 99 }}</p>
                    <p>High Bidder ID: {{ item.bidder_id }}</p>

                    <!-- Modal -->
                    <div class="modal fade" id={{ item.id }} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm Bid on {{ item.itemname }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            {{ form.submit(class="btn btn-outline-info") }}
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=#{{ item.id }}>
                        Place Bid
                    </button>
                    <p></p>
                {% endfor %}
            </div>
            <div class="column middle">
                {% for item,biddername,form in z2 %}
                    <h3>{{ item.itemname }}</h3>
                    <p>{{ item.description }}</p>
                    <img src={{ url_for('static', filename=item.image_file) }} class="w3-round" height="200" width="300">
                    <p>Value - {{ item.list_value }}</p>
                    <b>Current Bid: ${{ item.current_bid }}</b>
                    <p>Next Bid: ${{ item.current_bid + 99 }}</p>
                    <p>High Bidder ID: {{ item.bidder_id }}</p>

                    <!-- Modal -->
                    <div class="modal fade" id={{ item.id }} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm Bid on {{ item.itemname }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            {{ form.submit(class="btn btn-outline-info") }}
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=#{{ item.id }}>
                        Place Bid
                    </button>
                    <p></p>
                {% endfor %}
            </div>
            <div class="column right">
                {% for item,biddername,form in z3 %}
                    <h3>{{ item.itemname }}</h3>
                    <p>{{ item.description }}</p>
                    <img src={{ url_for('static', filename=item.image_file) }} class="w3-round" height="200" width="300">
                    <p>Value - {{ item.list_value }}</p>
                    <b>Current Bid: ${{ item.current_bid }}</b>
                    <p>Next Bid: ${{ item.current_bid + 99 }}</p>
                    <p>High Bidder ID: {{ item.bidder_id }}</p>
                    
                    <!-- Modal -->
                    <div class="modal fade" id={{ item.id }} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm Bid on {{ item.itemname }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            {{ form.submit(class="btn btn-outline-info") }}
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=#{{ item.id }}>
                        Place Bid
                    </button>
                    <p></p>
                {% endfor %}
            </div>
        </div>

        {% endblock %}
    </body>
</html>