<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="uft-8">
        <title>Items</title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <div class="items-page-title">
            <h1> Here is what's for sale </h1>
        </div>

        <div class="row">
            {% for column in columns %}
            <div class="column">
                {% for item,form in column %}
                    <div class="item-holder">
                        <h3>{{ item.itemname }}</h3>                   
                        <div class="image-holder">
                            <figure id={{ item.image_file }} data-toggle="modal" data-target=#{{ item.id * 100 }}>
                                <img src={{ url_for('static', filename=item.image_file) }} class="small-display">
                            </figure>
                        </div>

                        <div class="modal fade" id={{ item.id * 100 }} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <img src={{ url_for('static', filename=item.image_file) }} class="modal-image">
                                    </div>
                                    <div class="modal-body">
                                        {{ item.description }}
                                    </div>
                                    {% if item.restrictions %}
                                    <div class="modal-body">
                                        Note: {{ item.restrictions }}
                                    </div>
                                    {% endif %}
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <p>Value - ${{ item.list_value }}</p>
                        <b>Current Bid: ${{ item.current_bid }}</b>
                        <p>Next Bid: ${{ item.current_bid + item.raise_value }}</p>

                        <div class="modal fade" id={{ item.id }} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm Bid on {{ item.itemname }} for ${{ item.current_bid + item.raise_value }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="">
                                            {{ form.hidden_tag() }}
                                            <div class="form-group">
                                                {{ form.submit(class="btn btn-outline-info") }}
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target=#{{ item.id }}>
                            Place Bid
                        </button>
                        <p></p>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>