<!DOCTYPE html>
<html lang="eng" dir="ltr">
    <head>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <title>Login</title>
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
        
        <h1>Log In</h1>

        <div id="login-error-msg-holder">
            <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
        </div>

        <form id="login-form">
            <input type="text" name="username" id="name-field" class="login-form-field" placeholder="Name"><br><br>
            <input type="number" name="member-id" id="member-id-field" class="login-form-field" placeholder="ID"><br><br>
            <input type="submit" value="Login" id="login-form-submit">
        </form>

        {% endblock %}
    </body>
</html>