<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Auction Parent Template</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/scroller.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav_links">
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </header>

        <div class=error-box>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        
        {% block content %}
        {% endblock %}

    </body>
</html>